body {
    background-color: rgba(205, 233, 112, 0.815) ;
}

.titulo{
    padding: 100px;
    text-align: center;

}

.infoalusuario{
    text-align: center;
}

.table{
    text-align: center;
    border: solid; 

}